#books {
  display: flex;
}

.bookCard {
  border: 2px solid black;
  border-radius: 10%;
  padding: 1rem;
  width: 8rem;
  height: 14rem;
  margin: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  align-items: center;
}

