#books {
  display: flex;
}

.bookCard {
  border: 2px solid black;
  border-radius: 17%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  width: 8rem;
  height: 16rem;
  margin: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  align-items: center;
}

